pipeline/pipeline_Append_getmetadata.json
{
	"name": "pipeline_Append_getmetadata",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata for CSVs",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "LS_SOURCE_GETMETADATA_APPEND",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach_getmetadata",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata for CSVs",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata for CSVs').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy_DATA_GetMetaData",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFolderPath": "source",
										"wildcardFileName": "*csv",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Ds_SOurce_Copy_APPEnd_VAriable",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_getmeta_append_target",
									"type": "DatasetReference",
									"parameters": {
										"File_Name": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "AppendVariable_GetMetaData",
							"description": "We will append variable from get meta data where  the files are CSV only",
							"type": "AppendVariable",
							"dependsOn": [
								{
									"activity": "Copy_DATA_GetMetaData",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Append_Variables",
								"value": {
									"value": "@activity('Copy_DATA_GetMetaData').output.name",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Set Variable after Append",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ForEach_getmetadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Append_Variables",
					"value": {
						"value": "@variables('List_of_Set_Variables')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"Append_Variables": {
				"type": "Array"
			},
			"List_of_Set_Variables": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}